<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')  %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente labore dolores tenetur vel blanditiis nobis sunt expedita libero vero porro autem perferendis animi, in deserunt omnis quisquam recusandae quaerat neque ut modi! Perspiciatis ipsam consectetur animi qui et earum eaque, amet accusamus adipisci est iure maiores voluptatibus, vitae voluptate quas quibusdam asperiores facilis sint eos! Esse, ab. Sapiente ratione repudiandae delectus possimus aperiam. Voluptates nihil quo nemo a, ad adipisci voluptas, rem rerum tempore, molestias temporibus quam reiciendis explicabo optio earum fugit id deleniti quae! Laborum earum repellat libero et qui tenetur alias repellendus, similique aperiam, obcaecati veritatis, officia blanditiis molestiae incidunt iste non nisi adipisci esse. Quibusdam ea earum, necessitatibus quod amet nesciunt ex accusantium, a ipsa laboriosam, aperiam facere! In debitis delectus quae maiores beatae, dignissimos blanditiis odit laudantium non cum quod porro molestias quia, at odio amet nobis repudiandae aliquid. Ipsum deleniti, eius libero placeat tenetur, odio dolore autem soluta veritatis labore nobis voluptas. Aperiam, esse perferendis, nemo nulla sint fugiat iure beatae veniam nisi exercitationem eligendi delectus praesentium tenetur doloremque sapiente reiciendis pariatur vel. Blanditiis repellendus, molestiae consectetur animi hic, quas fugiat rem molestias facere repudiandae quis praesentium possimus, amet eum velit tenetur non a. Praesentium id maiores mollitia iure consectetur deserunt et architecto atque placeat ab nemo asperiores doloremque rerum alias, voluptates eligendi libero quos minima adipisci voluptatum laudantium error at, esse temporibus! Nobis quod veritatis fugiat perspiciatis. Laboriosam alias harum, sunt quam eveniet tenetur? Repellendus at rem accusamus sequi suscipit, aperiam, similique in laborum sapiente veniam pariatur. Ipsam, odit! Culpa saepe quaerat quas. Obcaecati, ipsam dolorum numquam rem quasi maxime doloribus totam? Sequi vero illo neque debitis ipsam voluptatibus recusandae ex possimus corporis, laborum pariatur magni reiciendis exercitationem repudiandae in, eum esse quam, voluptatum dolorem. Eos obcaecati quasi commodi nulla, nostrum dignissimos quidem aliquam.</p>
      </section>
    </main>

    <%- include('partials/footer') %>
    
  </body>
</html>
